@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Resetando os padrões css da página e adicionando fontes */
body {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-fundo {
  position: absolute; /* Posiciona a div de forma absoluta */
  width: 100%; /* Ocupa 100% da largura do body */
  height: 100%; /* Ocupa 100% da altura do body */
  background: url("assets/original.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* Estilizando o header */
header {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao header */
}

button {
  background-color: #022e34; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.2s; /* Transição suave de cor ao passar o mouse */
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  position: fixed; /* Posiciona o botão de forma fixa */
  bottom: 0; /* Define a distância do botão em relação ao fundo da página */
  left: 20px; /* Define a distância do botão em relação à esquerda da página */
}

button:hover {
  background-color: #08496e; /* Cor de fundo do botão ao passar o mouse */
}

.logotipo img {
  width: 300px;
}
.nav-equerda {
  display: flex;
  align-items: center;
  margin-right: auto;
  appearance: none;
}

.nav-equerda label {
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
}

.nav-equerda select {
  color: #070505;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px; /* Adiciona padding ao select */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  border: 1px solid #ccc; /* Adiciona borda ao select */
  width: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px; /* Adiciona bordas arredondadas */
  transition: background-color 0.3s, transform 0.3s; /* Adiciona transições suaves */
}

.nav-links a:hover {
  background-color: #39619c; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

/* Estilizando a div-contato */
.div-contato {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
  width: 100%;
  position: fixed; /* Posiciona a div de forma fixa */
  bottom: 0; /* Alinha a div ao fundo da página */
  width: 100%; /* Garante que a div ocupe toda a largura */
  color: white; /* Cor do texto */
  padding: 17px; /* Espaçamento interno */
  box-shadow: 0 -2px 10px rgba(42, 41, 41, 0.5); /* Adiciona sombra para destaque */
}

.contato {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  display: flex;
  justify-content: right;
  gap: 10px; /* Espaçamento entre os itens */
}
.img-contato {
  max-width: 30px;
}
main {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 25px;
  text-align: center;
}
.suporte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  background: linear-gradient(to right, #055f6eff, #052131ff);
}

.sup_duvida {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  padding: 15px;
  height: 120px;
  width: 150px;
}
.sup_duvida:hover {
  background: #055f6eff;
}
.sup_problema {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  padding: 15px;
  height: 120px;
  width: 150px;
}
.sup_problema:hover {
  background: #055f6eff;
}
.sup_fale {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  padding: 15px;
  height: 120px;
  width: 150px;
}
.sup_fale:hover {
  background: #055f6eff;
}
.cont_sup {
  background-color: darkslategrey;
  align-content: center;
}

.form
{text-align: center;
 width: 790px; border: none;
 height: 550px;
margin-bottom: 200px;
margin-left: 810px;
align-items: center;
color: #fff;
background-color: #055f6e;
border-radius: 20px;
font-size: 20px;


}

#btnform {
  color: #0c0c0c;
  background-color: #108296;
  text-align: center;
  margin-bottom: 205px;
  margin-left: 1130px;
  padding: 10px 20px; /* Adiciona espaçamento interno */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Muda o cursor para mãozinha */
  transition: all 0.3s ease; /* Suave transição para o efeito hover */
}

/* Efeito hover */
#btnform:hover {
  background-color: #099e71; /* Cor mais escura no hover */
  color: #ffffff; /* Muda a cor do texto no hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra ao redor do botão */
  transform: translateY(-2px); /* Elevação leve do botão */
}

