@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*Resetando os padrões css da página e adicionando fontes*/
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #2c2e34;*/
    font-family: "Ponppins", sans-serif;
    background: linear-gradient(to right, #055f6eff, #052131ff);
    background-image: url("original.jpeg");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

li, a, button{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/*Estilizando o header*/
header{
    background: linear-gradient(to right, #055f6eff, #052131ff);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    background-color: #222224;
}

.logotipo{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    margin-left: 0px 20px;
}

.nav-links li a:hover{
    color: #6090d7;
}

button{
    background-color: #4771b0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 15px;
}
button:hover{
    background-color: #39619c;
}

@media (max-width: 768px){
    li, a, button{
        font-size: 14px;
    }
    .logotipo{
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        font-size: 22px;
    }
    
}

@media (max-width: 480px) {
    li, a, button {
        font-size: 10px; /* Ajuste o tamanho da fonte para telas menores */
    }
    .logotipo {
        color: #fff;
        font-size: 20px; /* Ajuste o tamanho da fonte para telas menores */
        font-weight: bold;
    }
}