/* Resetando os padrões css da página e adicionando fontes */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: linear-gradient(to right, #055f6eff, #052131ff);
    background-image: url("/assets/original.jpeg");
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Garante que o body ocupe pelo menos 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}

li, a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Estilizando o header */
header {
    background: linear-gradient(to right, #055f6eff, #052131ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

button {
    background-color: #055f6e; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    position: fixed; /* Posiciona o botão de forma fixa */
    bottom: 20px; /* Define a distância do botão em relação ao fundo da página */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
}

button:hover {
    background-color: #052131; /* Cor de fundo do botão ao passar o mouse */
}

.logotipo {
    font-size: 25px;
    font-weight: bold;
}

.nav-equerda {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-equerda label {
    color: #fff;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.nav-equerda select {
    color: #070505;
    margin-right: 10px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-links a:hover {
    background-color: #555;
}



/* Estilizando a div-contato */
.div-contato {
    
    margin-top: auto; /* Empurra a div para o fim da página */
    
    background-color: #333; /* Cor de fundo para a div-contato */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: right; /* Centraliza o texto */
    background: linear-gradient(to right, #055f6eff, #052131ff);
}

.contato {
    list-style: none;
    padding: 0;
    margin-right: 30px;
    display: flex;
    justify-content: right;
    gap: 10px ; /* Espaçamento entre os itens */
}
.img-contato {
    max-width: 30px;
}


main .suporte {
    background-color: linear-gradient(to left, #055f6eff, #052131ff);
}