@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Estilos para o body - Usado em todos os arquivos HTML */
body {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  color: white;
}

/* Estilos para a imagem de fundo - Usado em index.html */
.img-fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./assets/loop3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  animation: loop_fundo 9s linear infinite;
}

@keyframes loop_fundo {
  0% {
    background-image: url('./assets/loop1.jpg')
  }
  50% {
    background-image: url('./assets/loop2.jpg')
  }
  100% {
    background-image: url('./assets/loop3.jpg')
  }
}
/* Estilos para os links - Usado em todos os arquivos HTML */
a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* Estilos para o header - Usado em todos os arquivos HTML */
header {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #08496e;
}

.logotipo img {
  width: 300px;
}



/* Estilos para a nav desquerda "Buscar" */
.nav-equerda {
  display: flex;
  align-items: center;
  margin-right: auto;
  appearance: none;
}

.nav-equerda label {
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
}

.nav-equerda select {
  color: #070505;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50px;
}
/* Estilos para a nav direita "Sobre - Login - lupa- cadastre-se" */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  background-color: #39619c;
  transform: scale(1.05);
}

/* Estilos para a div-contato - Usado em todos os arquivos HTML */
.div-contato {
  background: linear-gradient(to right, #055f6eff, #052131ff);
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 17px;
  box-shadow: 0 -2px 10px rgba(42, 41, 41, 0.5);
}

.contato {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.img-contato {
  max-width: 30px;
}

/* Estilos para a página de suporte - suport.html */
main {
  background: #052131ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
  min-height: 81vh;
  background-image: url(assets/telefonistas_sup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.suporte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 100%;
  padding: 40px;
  margin-bottom: 20px;
}

.but_sup {
  display: inline-block;
  background: linear-gradient(to right, #055f6eff, #052131ff);
  padding: 15px;
  height: 120px;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.but_sup:hover {
  background: #052131ff;
}

.cont_sup {
  background-color: darkslategrey;
  align-content: center;
}

/* Estilos para o formulário de cadastro - cadastro.html */
.form {
  background-color: #055f6eff;
  margin: 40px auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65%;
  max-width: 800px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="email"],
input[type="nome"],
input[type="cpf"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-form {
  color: #0c0c0c;
  background-color: #0ea057;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.btn-form:hover {
  background-color: #0c6d7a;
}

/* Estilos para a página de filmes - PaginaFilme.html */
.filmes {
  padding: 20px;
  position: relative;
}

.filmes-populares {
  text-align: left;
  font-size: 34px;
  margin-bottom: 20px;
  color: white;
}

.filmes-lista-container {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  -ms-overflow-style: none;
}

.filmes-lista-container::-webkit-scrollbar {
  display: none;
}

.filmes-lista-container div {
  flex: 0 0 auto;
  max-width: 200px;
  text-align: center;
}

.filmes-lista-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.filmes-lista-container img:hover {
  transform: scale(1.05);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.filmes-lista-container:hover .arrow {
  display: block;
}

.parallax {
  background-image: url("./assets/Pag_filmes.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}
/* Estilos para o botão de acesso - Usado em todos os arquivos HTML */
.botao-acesso {
  background-color: darkseagreen;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  margin: auto;
  width: auto;
  cursor: pointer;
  display: block;
}

/* Estilos para o grupo de rádio - Usado em cadastro.html */
.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label {
  margin-right: 10px;
  font-weight: normal;
  color: white;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
  accent-color: #055f6eff;
}

/* Estilos para o input de telefone - Usado em cadastro.html */
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="tel"]:focus {
  border-color: #0EA057;
  outline: none;
}

/* Estilos para a página de login - login.html */
.container-login {
  position: relative;
  width: 440px;
  height: 440px;
  background: transparent;
  margin-left: 530px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.form-box login {
  display: none;
}

.container-login .icon-close {
  position: absolute;
  top: 0px;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

.container-login .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #51f2cc;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -9px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  padding: 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 57px;
}

.lembrar-me {
  font-size: 0.9em;
  color: white;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.lembrar-me label input {
  accent-color: #162938;
  margin-right: 3px;
}

.lembrar-me a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.lembrar-me a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.registrar-login {
  font-size: 0.9em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.registrar-login p a {
  color: #51f2cc;
  text-decoration: none;
  font-weight: 600;
}

.registrar-login p a:hover {
  text-decoration: underline;
}